body{

background-color: skyblue;}
p{
font-size: 50px;
color: white;
font-family: Verdana, Arial, Helvetica, sans-serif;
}
.ex1{
font-family: "Lucida Console", Courier, monospace;
font-weight: 700;

}
.ex2{
font-family: 'Comforter', cursive;



}
.ex3{
font-family: 'Lobster', cursive;



}
.ex4{
font-family: 'Oswald', sans-serif;




}
.ex5{




}